<div *ngFor="let newsEl of newsPage.PageOfNews">
    <div class="card text-center bg-light" style="margin-bottom: 2rem">
        <div class="card-header">
            {{newsEl.Title}}
        </div>
        <div class="card-body">
            <li class="list-group-item" [innerHTML]="newsEl.Description"></li>
        </div>
        <div class="card-footer text-muted">
            {{newsEl.Date | date}}
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Show comments</button>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Comments</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="mb-1" *ngIf="newsEl.Comments.length == 0">No comments</p>
            <ul class="list-group">
                <div class="list-group-item" *ngFor="let comment of newsEl.Comments">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{comment.Author}}</h5>
                    </div>
                    <p class="mb-1">{{comment.Text}}</p>
                </div>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="container">
                <form #f="ngForm" (ngSubmit)="AddComment(newsEl.Id, CommentText.value)">
                    <div class="form-group col-xs-12">
                        <textarea class="form-control" #CommentText ngModel name="CommentText" id="commentTextArea" placeholder="Enter your comment here"
                            rows="3" required></textarea>
                    </div>
                    <button [disabled]="!f.valid" type="submit"s class="btn btn-primary">Add comment</button>
                </form>
            </div>
        </div>
    </ng-template>
</div>



<ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="currentPage" [maxSize]="5"
    [rotate]="true" [pageSize]="5" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getNewsPage()"></ngb-pagination>